@font-face {
  font-family: Ubuntu;
  src: url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: Ubuntu;
}
