
body {
  font-family: Ubuntu;
  /* background-color: #2196F3; */
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.form{
  display: flex;
  flex-direction: row;
}
.steps {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  height: 600px;
  width: 800px;
  background-repeat: no-repeat;
}
form {
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 400px;
  align-items: left;
}
input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 275px;
  height: 30px;
  border-radius: 10px;
  border: solid 1px lightgray;
  text-align: left;
  padding-left: 10px;
}
.nav-buttons{
  position: absolute;
  left: 680px;
  top: 500px;
}
small{
  color: grey;
}
.planButton{
  background-color: white;
  height: 100px;
  width: 150px;
  border: lightgrey solid 1px;
  border-radius: 13px;
  padding-left: 10px;
}
.planOptions{
  display: flex;
  flex-direction: row;
}